body{
	background-color: grey ;
	color: orange ;
	font-family: 'Droid Sans', sans-serif;
	text-align: center;
}

h3 {
	color: red ;
}
h2 {
	color : green;
}

img {
	display: block;
	width: 20% ;
	margin-right: auto ;
	margin-left: auto ;
}
